header {
    font-family: 'Pokemon Solid', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: #363636;
    gap: 1rem;
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
}

.header-logo {
    width: 50px;
    height: auto;
}

.header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-navbar li, .header-navbar li a {
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 0.3rem;

    &:hover {
        background-color: #1f1f1f;
        border-radius: 0.3rem;
    }
}

.header-searchbar-form {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
}

.header-searchbar-form input, .header-searchbar-form button {
    border: none;
    background-color: #1f1f1f;
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
}